@use "~src/scss/ui" as value;

:host{
    .login-page {
        height: calc(100vh - 80px);
        background-color: value.$background-gray;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-wrapper{
        width: 500px;
        height: 400px;
        background-color: #fff;
        border-radius: 16px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 100px;

        .login-main-title{
            font-size: 36px;
            font-weight: 600;
            color : black;
            text-align: center;
        }
    }
}
